
// settings
@import "app_settings";

html, body {
  height: 100%;
  font: normal 16px $font-family-default;
}

h1, h2, h3, h4 {
  font-family: $font-family-special;
  vertical-align: middle;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.divider {
  height: 80px;
}

.panel {
  border-width: 0;
}

.font-color-white {
  color: $color_white;
}

.font-color-red {
  color: $color_persimmon_approx;
}

.font-color-gold {
  color: $color_sunglow_approx;
}

.font-color-blue-cool {
  color: $color_blue_cool;
}

.content-image-small {
  width: 300px;
  margin: 0 auto;
}

.globalWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; // for IE
  margin: 0 auto -60px;
  padding: 0 0 60px;

  > .container {
    padding: 30px 15px 0;
  }
}

.masthead {
  background: url(../images/bg.jpg) no-repeat bottom right;
  background-size: cover;
  height: 550px;
  color: $color_black;

  .tpl_tickets & {
    height: 270px;
  }

  @media(max-width: $screen-sm-min) {
    height: 265px;
  }

  h1, h2, h3, p {
    color: darken($color_persimmon_approx, 5%);
    @include background-opacity($color_blackblue, 0.8);
    padding: 15px;
    width: auto;
    float: left;
    clear: both;
    border-radius: 3px;
    font-weight: 800;
    text-decoration: none;
  }

  h1 {
    font-size: 60px;

    a {
      color: darken($color_persimmon_approx, 5%);
      transition: color 0.5s ease-in-out;

      &:hover {
        color: darken($color_persimmon_approx, 15%);
      }
    }

    @media(max-width: $screen-sm-min) {
      font-size: 40px;
    }

    @media(max-width: 400px) {
      font-size: 25px;
    }
  }

  h2 {
    font-size: 20px;
    margin-top: -20px;
    margin-left: 200px;

    @media(max-width: $screen-sm-min) {
      font-size: 15px;
      margin-left: 0;
    }
  }

  a {
    color: $color_white;
    font-weight: 800;
    text-decoration: none;

    &:hover {
      color: $color_white;
      font-weight: 800;
      text-decoration: none;
    }
  }

  .lead {
    color: $color_white;
    font-size: 22px;
    margin-top: -15px;
    margin-left: 100px;

    @media(max-width: $screen-sm-min) {
      font-size: 13px;
      margin-left: 0;
    }
  }
}

.footer {
  height: 60px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color_blackblue;

  a {
    color: $color_wild_sand_approx;
  }
}

.orr-info-box {
  p {
    color: $color_white;
  }

  .orr-info-box--feature {
    .icon {
      position: absolute;
      left: -4px;
      right: 0;
      top: 4px;
      bottom: 0;
      line-height: initial;
      margin: 2px auto auto;
      height: 55px;
      width: 55px;

      span {
        font-size: 30px;
      }

      &.font-color-red,
      &.font-color-gold {
        left: -6px;
      }
    }

    .background-icon {
      border-radius: 50%;
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid $color_gray_15;
      height: 50px;
      width: 50px;
      line-height: 50px;
      padding-top: 5px;
      margin: 0 auto;
      position: relative;
      text-align: center;
    }

    .wrapper-icon {
      padding-right: 0;
    }
  }
}

.orr-headline {
  padding: 20px;
  background-color: $color_blackblue_95;
}

.map-canvas {
  width: 100%;
  height: 300px;
  margin: 0;
}

.scroll-top {
  position: fixed;
  bottom: 0;
  right: 6%;
  z-index: 100;
  font-size: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  a {
    @include background-opacity($color_sunglow_approx, 0.85);
    color: $color_blackblue;
    transition: background 0.5s ease-in-out;

    &:link,
    &:visited {
      color: $color_log_cabin_approx;
    }

    &:hover {
      background: darken($color_sunglow_approx, 5%) !important;
      color: $color_blackblue;
    }
  }
}

section {
  color: $color_white;
  min-height: 400px;
  height: auto !important;
  height: 100%; // for IE
  padding-top: 100px;
}

.bg-1 {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-2 {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-3 {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-4 {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-5 {
  padding-top: 30px;
}

.orr-overview-stats {
  padding-top: 50px;

  .col-sm-12 > div {
    background-color: $color_blackblue;
  }
}

.padding-common {
  padding: 20px 0 20px;
}

.container .credit {
  margin: 20px 0;
}

