.btn,
.btn-primary {
  border-radius: 3px;
  background: $color_sunglow_approx;
  color: $color_blackblue;
  transition: all 0.5s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
  background: darken($color_sunglow_approx, 5%);
  color: $color_blackblue;
}
