@import "../app_settings";

.navbar-nav {
  .nav-link {
    color: $color_white;
    font-family: $font-family-default;
    margin: 0.4rem 0;
    padding: 0.4rem 0.8rem;
    transition: all 400ms;

    html.wf-active & {
      font-family: $font-family-special;
    }

    &:hover,
    &:focus,
    &.active {
      border-bottom: 2px solid $color_persimmon_approx;
      border-top: 2px solid $color_persimmon_approx;
      background-color: $color_blackblue;
      border-radius: 4px;
      color: $color_white;
    }
  }
}

.navbar-custom {
  width: 100%;
  margin: 0;
  border-width: 0;
  background-color: $color_blackblue_95;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-toggler {
  outline: 0;
  border-color: rgba($color_white, 0.35);
}

.navbar-collapse.show {
  overflow-y: visible;
}
